// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.
img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

table {
    border-spacing: 0;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;

    td, th {
        border-bottom: 0.1rem solid darken($lightest-color, 60%);
        padding: 1.2rem 1.5rem;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    @media (min-width: 40.0rem) {
        display: table;
        overflow-x: initial;
    }

    &.table {
        th {
            font-weight: bold;
        }
    }

    &.table-bordered {
        td, th {
            border-right: 0.1rem solid darken($lightest-color, 60%);

            &:first-child {
                border-left: 0.1rem solid darken($lightest-color, 60%);
            }
        }

        th {
            border-top: 0.1rem solid darken($lightest-color, 60%);
        }
    }

    &.table-striped {
        > tbody > tr:nth-of-type(odd) {
            background-color: lighten($darkest-color, 5%);
        }
    }

    &.table-hover {
        > tbody > tr:hover {
            background-color: lighten($darkest-color, 10%);
        }
    }
}

svg {
    margin-right: 15px;
}