{{ $CSS := slice
        (resources.Get "css/reset.css")
        (resources.Get "css/main.css")
        (resources.Get "css/menu.css")
        (resources.Get "css/toc.css")
        (resources.Get "css/images.css")
        (resources.Get "css/post_meta.css")
        (resources.Get "css/search.css")
        (resources.Get "css/code.css")
        (resources.Get "css/tables.css")
        (resources.Get "css/misc.css")
        (resources.Get "css/footer.css")
    | resources.Concat "style.css" | minify | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $CSS.RelPermalink }}" media="all">