<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>
    <link rel="shortcut icon" href="{{ .Site.Params.favicon | default "/favicon.ico" }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" size="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" size="16x16" href="/favicon-16x16.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ .Site.Params.author | default "John Doe" }}" />
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    {{ $style := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>

    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}

  </head>
  <body>

    <!--

      DO NOT EMAIL: admin@honeycatcher0x04.art
      note that this is a catch address and should not be used for any legitimate contact.
      Any and all messages sent here are assumed malicious. 

    -->

    <div style="display: none; visibility: hidden;">
      <p>admin@honeycatcher0x04.art</p>
      <a href="mailto:admin@honeycatcher0x04.art">email contact</a>
      <p>NOTE: You should not use the above for legitimate contacts. This is a spam honeypot. All messages sent to that domain are assumed malicious/spam.</p>
    </div>

    <header class="app-header">
      <a href="{{ .Site.BaseURL }}"><img class="app-header-avatar" src="{{ .Site.Params.avatar | default "avatar.jpg" | relURL }}" alt="{{ .Site.Params.author | default "John Doe" }}" /></a>
      <h1>{{ .Site.Title }}</h1>
      {{- with .Site.Menus.main }}
      <nav class="app-header-menu">
        {{- range $key, $item := . }}
          {{- if ne $key 0 }}
            {{ $.Site.Params.menu_item_separator | default " - " | safeHTML }}
          {{ end }}
          <a class="app-header-menu-item" href="{{ $item.URL }}">{{ $item.Name }}</a>
        {{- end }}
      </nav>
      {{- end }}
      <p>{{ .Site.Params.description | default "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula turpis sit amet elit pretium." }}</p>
      {{- with .Site.Params.social }}
      <div class="app-header-social">
        {{ range . }}
          <a href="{{ .url }}" target="_blank" rel="noreferrer noopener">
            {{ partial "icon.html" (dict "ctx" $ "name" .icon "title" .name) }}
          </a>
        {{ end }}
      </div>
      {{- end }}
    </header>
    <main class="app-container">
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
    </main>
  </body>
</html>
