table {
    border-spacing: 0;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

table td, table th {
    border-bottom: 0.1rem solid var(--border);
    padding: 1.2rem 1.5rem;
    text-align: center;
}

table td:first-child, table th:first-child {
    padding-left: 0;
}

table td:last-child, table th:last-child {
    padding-right: 0;
}

@media only screen and  (min-width: 40.0rem) {
    table {
        display: table;
        overflow-x: initial;
    }
}

table.table th {
    font-weight: bold;
    text-align: center;
}

table.table-bordered td, table.table-bordered th {
    border-right: 0.1rem solid var(--border);
}

table.table-bordered td:first-child, table.table-bordered th:first-child {
    border-left: 0.1rem solid var(--border);
}

table.table-bordered th {
    border-top: 0.1rem solid var(--border);
}

table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--tertiary);
}

table.table-hover > tbody > tr:hover {
    background-color: var(--secondary);
}