<nav>
    <ul class="sidebar-nav">

        {{ $sections := .Site.Sections.ByTitle }}
        {{ $taxonomies := .Site.Taxonomies }}
        {{ range .Site.Params.menu }}
        {{ $menu_item := . }}
            {{ if eq (len $menu_item.URL) 0 }}
                <li class="heading">{{ $menu_item.Name }}</li>
            {{ else if $menu_item.External }}
                <li class="bullet">
                    <a href="{{ $menu_item.URL }}" rel="noopener noreferrer">{{ $menu_item.Name }}</a>
                </li>
            {{ end }}

            {{ range $name, $taxonomy := $taxonomies }}
                {{ if eq (lower $name) (lower $menu_item.Name) }}
                    <li class="heading">
                        <a href="{{$menu_item.URL }}">{{ $menu_item.Name }}</a>
                    </li>
                {{ end }}
            {{ end }}
        {{ end }}

    </ul>
</nav>
