.site-head {
  max-width: 720px;
  border-bottom: 2px solid var(--color-border);
  margin-bottom: 15px;
  margin-top: 25px;
}

.site-head-logo {
  display: block;
  flex-shrink: 0;
  margin: 7px 12px 24px 0;
  padding: 0;
}

#navigation {
  margin: 0 0 42px;
}

@media (max-width: 500px) {
  ul.navigation {
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 500px) {
  ul.navigation {
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 700px) {
  ul.navigation {
    -moz-column-count: 4;
    column-count: 4;
  }
}

nav.navigation > ul.navigation > li {
  display: block;
  margin-bottom: 4px;
}

nav.navigation > ul.navigation > li > a {
  display: block;
  font-size: 1.1rem;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 500px) {
  nav.navigation > ul.navigation > li > a {
    line-height: 35px;
  }
}

@media (min-width: 500px) {
  nav.navigation > ul.navigation > li > a {
    line-height: 35px;
  }
}

@media (min-width: 700px) {
  nav.navigation > ul.navigation > li > a {
    line-height: 25px;
  }
}

nav.navigation > ul.navigation > li > a:visited {
  color: var(--link);
}

nav.navigation > ul.navigation > li a:hover {
  text-decoration: underline;
}
