<!doctype html>
<html lang="{{ .Site.Language.Locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ partial "head/css.html" . }}
        {{ partial "head/head-scripts.html" . }}

        {{ partial "head/seo.html" . }}

        {{- with .OutputFormats.Get "RSS" }}
            <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
            <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}">
        {{- end }}
        
        {{- $favicon := .Site.Params.favicon | default "glider.png" }}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ relURL $favicon }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ relURL $favicon }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ relURL $favicon }}">
        {{- with .Site.Params.manifest }}
        <link rel="manifest" href="{{ relURL . }}">
        {{- end }}
    </head>
    <body>

        <a class="skip-link" href="#main-content">Skip to content</a>

        {{ partial "main-menu.html" . }}

        <main id="main-content" tabindex="-1">
            {{ block "main" . }}{{ end }}
        </main>

        {{ partial "footer.html" . }}
    </body>
</html>
