<ol class="featured-post-list">
  {{ range . }}
    <li class="featured-post">
      <article>
        <a class="featured-post-link" href="{{ .RelPermalink }}">
          <div class="featured-post-heading">
            <h3>{{ .Title | markdownify }}</h3>
            <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
          </div>
          {{ with .Description }}
            <p>{{ . }}</p>
          {{ else }}
            <p>{{ .Summary | plainify | truncate 180 }}</p>
          {{ end }}
        </a>
      </article>
    </li>
  {{ end }}
</ol>
