<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ relURL "glider.png" }}"}>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ relURL "glider.png" }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ relURL "glider.png" }}">
    <link rel="manifest" href="{{ relURL "site.webmanifest" }}">

    <meta name="description" content="{{ .Title }}">

    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ if .IsHome }}
        <title>{{ .Site.Title }}</title>
    {{ else }}
        <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}

    {{ partial "css.html" . }}

    {{ partial "head-scripts.html" . }}
  </head>

  <body>
        {{ if not .Params.nomenu }}
        <nav>
          <ul class="menu">
            {{ range .Site.Menus.main }}
                <li><a tabindex="-1" class="menu-link" href="{{ .URL | relURL }}">{{ safeHTML .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
        {{ end }}
