{{- $store := dict -}}
{{- range .Site.RegularPages -}}
    {{- $entry := dict
        "title" .Title
        "tags" (.Params.tags | default (slice))
        "content" .Plain
        "url" .RelPermalink
    -}}
    {{- $store = merge $store (dict .RelPermalink $entry) -}}
{{- end -}}
<script>window.store = {{ $store | jsonify | safeJS }};</script>

{{ if not .Site.Params.noSearch }}
    <script defer src="{{ relURL "/js/lunr.js" }}"></script>
    <script defer src="{{ relURL "/js/search.js" }}"></script>
{{ end }}
