.posts-list {
  padding: 0;
}

.posts-list-item {
  list-style: none;
  padding: 0.4em 0;

  &:not(:last-child) {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  }
}

.posts-list-item-description {
  display: block;
  font-size: 0.8em;
  margin: 0.5em 0;
}

.post-item-read-more {
  a {
    float: right;
    display: block;
    padding: 0.4em;
  }
}